*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: antiquewhite;
}

/* Estilos Generales */
nav ul{
    list-style: none;
    padding: 0;
}

nav li{
    line-height: 3rem;
    position: relative;
}

.menu ul{
    position: absolute;
}

nav a{
    text-decoration: none;
    color: #ddd;
    padding: 0 2.5em;
    display: block;
    transition: .4s;
}

nav a:hover{
    background-color: rgba(0,0,0,.5);
}

nav li ul{
    display: none;
}

nav li:hover > ul{
    display: block;
}

/* Primer Nivel */

.menu{
    display: flex;
    justify-content: right;
    background-color: #333;
}

/* Segundo Nivel */

nav li li{
    background-color: #222;
    width: 200px;
}

.menu > li > ul{
    top: 100%;
}

/* Tercer Nivel */

.menu ul ul{
    left: 100%;
    top: 0;
}